aiosmtplib==5.1.0
alembic==1.18.4
fastapi==0.129.0
matplotlib==3.10.8
numpy==2.4.2
pillow==12.1.1
psycopg2==2.9.10
pydantic==2.12.5
python-dotenv==1.2.1
python-multipart==0.0.22
SQLAlchemy==2.0.46
uvicorn==0.40.0
uvloop==0.22.1
